name: Silpion Craft-Night example
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: print something
        run: ls
      - name: install
        run: npm install -s jest npx
      - name: run jest
        run: npx jest
